@import url('https://static.zeoseven.com/zsft/7/main/result.css');
@import url('https://static.zeoseven.com/zsft/79/main/result.css');


:root  {
    --md-text-font: "Zhuque Fangsong (technical preview)", serif;
}

:root, [data-md-color-scheme=default] {
    --md-default-fg-color--light: #000000dd;
}

.md-typeset p {
    font-family: "Clear Han Serif";
}

.md-typeset blockquote {
    border-left: .1rem solid #00000020 !important;
    color: var(--md-default-fg-color--light);
    font-family: "Clear Han Serif";
    opacity: .90;
}


.card-wrapper {
    text-decoration: none;
    transition: none;
    background: none;
    padding: 0;
}

.card {
    position: relative;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    height: 100%;
    -moz-box-pack: start;
    justify-content: flex-start;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.grid a:link {
    color: inherit;
}

.grid a:visited {
    color: inherit;
}

.grid a:hover {
    color: inherit;
}

.grid a:active {
    color: inherit;
}
